In [0]:
import numpy as np
import pandas as pd

In [0]:
dftr=pd.read_csv('Train.csv')
dfte=pd.read_csv('Test.csv')
dfss=pd.read_csv('sample_submission.csv')

In [20]:
dftr.head(10)

             date_time is_holiday  ...  weather_description  traffic_volume
0  2012-10-02 09:00:00       None  ...     scattered clouds            5545
1  2012-10-02 10:00:00       None  ...        broken clouds            4516
2  2012-10-02 11:00:00       None  ...      overcast clouds            4767
3  2012-10-02 12:00:00       None  ...      overcast clouds            5026
4  2012-10-02 13:00:00       None  ...        broken clouds            4918
5  2012-10-02 14:00:00       None  ...         sky is clear            5181
6  2012-10-02 15:00:00       None  ...         sky is clear            5584
7  2012-10-02 16:00:00       None  ...         sky is clear            6015
8  2012-10-02 17:00:00       None  ...           few clouds            5791
9  2012-10-02 18:00:00       None  ...           few clouds            4770

[10 rows x 15 columns]

In [19]:
pd.Categorical(dftr.is_holiday)

[None, None, None, None, None, ..., None, None, None, None, None]
Length: 33750
Categories (12, object): [Christmas Day, Columbus Day, Independence Day, Labor Day, ..., State Fair,
                          Thanksgiving Day, Veterans Day, Washingtons Birthday]

In [22]:
dftr.shape

(33750, 15)

In [23]:
dfte.shape

(14454, 14)

In [24]:
dfte.head()

             date_time is_holiday  ...  weather_type      weather_description
0  2017-05-18 00:00:00       None  ...          Rain            moderate rain
1  2017-05-18 00:00:00       None  ...          Mist                     mist
2  2017-05-18 00:00:00       None  ...       Drizzle  light intensity drizzle
3  2017-05-18 01:00:00       None  ...          Rain     heavy intensity rain
4  2017-05-18 01:00:00       None  ...          Mist                     mist

[5 rows x 14 columns]

In [0]:
tr_x=dftr.iloc[:,1:14]

In [29]:
tr_x.head()

  is_holiday  air_pollution_index  ...  weather_type  weather_description
0       None                  121  ...        Clouds     scattered clouds
1       None                  178  ...        Clouds        broken clouds
2       None                  113  ...        Clouds      overcast clouds
3       None                   20  ...        Clouds      overcast clouds
4       None                  281  ...        Clouds        broken clouds

[5 rows x 13 columns]

In [30]:
tr_x.shape

(33750, 13)

In [35]:
pd.Categorical(tr_x['weather_description'])

[scattered clouds, broken clouds, overcast clouds, overcast clouds, broken clouds, ..., mist, heavy intensity rain, mist, heavy intensity rain, mist]
Length: 33750
Categories (38, object): [SQUALLS, Sky is Clear, broken clouds, drizzle, ...,
                          thunderstorm with light drizzle, thunderstorm with light rain, thunderstorm with rain,
                          very heavy rain]

In [0]:
tr_x=pd.get_dummies(tr_x)

In [40]:
tr_x.shape

(33750, 71)

In [0]:
tr_y=dftr.iloc[:,14]

In [44]:
tr_y.shape

(33750,)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
xtr,xte,ytr,yte=train_test_split(tr_x,tr_y,test_size=0.15)

In [52]:
xte.shape

(5063, 71)

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
model1=LinearRegression(n_jobs=-1)

In [55]:
model1.fit(xtr,ytr)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [0]:
from sklearn.metrics import mean_squared_error

In [0]:
def scr(yact,ypre):
  return (100-mean_squared_error(yact,ypre))

In [0]:
pr=model1.predict(xtr)

In [59]:
scr(ytr,pr)

-3799723.4622292714

In [63]:
pr.shape

(28687,)

In [64]:
ytr.shape

(28687,)

In [66]:
np.sum((ytr-pr)**2)/28687

3799823.4622292714

In [0]:
from sklearn.svm import LinearSVR

In [0]:
model2=LinearSVR()

In [69]:
model2.fit(xtr,ytr)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVR(C=1.0, dual=True, epsilon=0.0, fit_intercept=True,
          intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=1000,
          random_state=None, tol=0.0001, verbose=0)

In [0]:
pr=model2.predict(xtr)

In [71]:
scr(ytr,pr)

-3853837.8951664064

In [0]:
import tensorflow as tf

In [74]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(1, activation='linear')
])

model.compile(optimizer='adam',
              loss='mse',
              metrics=['mse'])

WARNING: Logging before flag parsing goes to stderr.
W0727 10:05:37.115266 140248656115584 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [78]:
model.fit(xtr.values, ytr.values, epochs=25)

Epoch 1/25
28687/28687 [==============================] - 1s 52us/sample - loss: 3947163.2722 - mean_squared_error: 3947164.5000
Epoch 2/25
28687/28687 [==============================] - 1s 52us/sample - loss: 3938464.2224 - mean_squared_error: 3938465.5000
Epoch 3/25
28687/28687 [==============================] - 1s 52us/sample - loss: 3938132.8673 - mean_squared_error: 3938134.7500
Epoch 4/25
28687/28687 [==============================] - 1s 51us/sample - loss: 3941016.3609 - mean_squared_error: 3941016.7500
Epoch 5/25
28687/28687 [==============================] - 1s 52us/sample - loss: 3927460.4862 - mean_squared_error: 3927454.7500
Epoch 6/25
28687/28687 [==============================] - 1s 50us/sample - loss: 3919673.3166 - mean_squared_error: 3919674.2500
Epoch 7/25
28687/28687 [==============================] - 1s 50us/sample - loss: 3925729.6690 - mean_squared_error: 3925730.0000
Epoch 8/25
28687/28687 [==============================] - 1s 49us/sample - loss: 3916713.2962 - mean_squared_error: 3916715.2500
Epoch 9/25
28687/28687 [==============================] - 1s 49us/sample - loss: 3914223.1809 - mean_squared_error: 3914223.0000
Epoch 10/25
28687/28687 [==============================] - 1s 51us/sample - loss: 3913447.7334 - mean_squared_error: 3913445.7500
Epoch 11/25
28687/28687 [==============================] - 1s 51us/sample - loss: 3912891.2326 - mean_squared_error: 3912895.7500
Epoch 12/25
28687/28687 [==============================] - 1s 50us/sample - loss: 3917791.6919 - mean_squared_error: 3917790.7500
Epoch 13/25
28687/28687 [==============================] - 2s 52us/sample - loss: 3907919.6564 - mean_squared_error: 3907919.2500
Epoch 14/25
28687/28687 [==============================] - 1s 51us/sample - loss: 3905590.5944 - mean_squared_error: 3905592.5000
Epoch 15/25
28687/28687 [==============================] - 1s 51us/sample - loss: 3911738.8875 - mean_squared_error: 3911737.0000
Epoch 16/25
28687/28687 [==============================] - 1s 50us/sample - loss: 3898420.0408 - mean_squared_error: 3898417.0000
Epoch 17/25
28687/28687 [==============================] - 1s 52us/sample - loss: 3904661.5092 - mean_squared_error: 3904661.2500
Epoch 18/25
28687/28687 [==============================] - 1s 51us/sample - loss: 3901586.0112 - mean_squared_error: 3901586.5000
Epoch 19/25
28687/28687 [==============================] - 1s 51us/sample - loss: 3896618.6995 - mean_squared_error: 3896617.7500
Epoch 20/25
28687/28687 [==============================] - 1s 51us/sample - loss: 3906195.3920 - mean_squared_error: 3906193.0000
Epoch 21/25
28687/28687 [==============================] - 1s 49us/sample - loss: 3897088.3695 - mean_squared_error: 3897088.7500
Epoch 22/25
28687/28687 [==============================] - 1s 51us/sample - loss: 3891670.2069 - mean_squared_error: 3891671.2500
Epoch 23/25
28687/28687 [==============================] - 1s 52us/sample - loss: 3898874.2262 - mean_squared_error: 3898873.7500
Epoch 24/25
28687/28687 [==============================] - 1s 50us/sample - loss: 3897270.3746 - mean_squared_error: 3897272.5000
Epoch 25/25
28687/28687 [==============================] - 1s 51us/sample - loss: 3891975.7018 - mean_squared_error: 3891976.2500

In [79]:
model.evaluate(xte,yte)

5063/5063 [==============================] - 0s 29us/sample - loss: 3822893.8237 - mean_squared_error: 3822892.7500

[3822893.823721114, 3822892.8]

In [0]:
import keras
import keras.layers as layers

In [0]:
model = keras.Sequential([
    layers.Dense(64, activation=tf.nn.relu),
    layers.Dense(64, activation=tf.nn.relu),
    layers.Dropout(0.10),
    layers.Dense(32, activation=tf.nn.relu),
    layers.Dense(32, activation=tf.nn.relu),
    layers.Dense(18, activation=tf.nn.relu),
    
    layers.Dense(12, activation=tf.nn.relu),
    layers.Dense(1)
  ])

#optimizer = tf.keras.optimizers.RMSprop(0.001)

model.compile(loss='mean_squared_error',
                optimizer='adam',
                metrics=['mean_absolute_error', 'mean_squared_error'])

In [101]:
model.fit(xtr.values, ytr.values, epochs=20)

Epoch 1/20
28687/28687 [==============================] - 2s 86us/step - loss: 4405699.1001 - mean_absolute_error: 1804.7110 - mean_squared_error: 4405699.1001
Epoch 2/20
28687/28687 [==============================] - 2s 54us/step - loss: 3968134.1065 - mean_absolute_error: 1742.5233 - mean_squared_error: 3968134.1065
Epoch 3/20
28687/28687 [==============================] - 2s 55us/step - loss: 3957184.2180 - mean_absolute_error: 1740.6997 - mean_squared_error: 3957184.2180
Epoch 4/20
28687/28687 [==============================] - 2s 56us/step - loss: 3939008.0685 - mean_absolute_error: 1735.4311 - mean_squared_error: 3939008.0685
Epoch 5/20
28687/28687 [==============================] - 2s 57us/step - loss: 3932258.2480 - mean_absolute_error: 1733.7034 - mean_squared_error: 3932258.2480
Epoch 6/20
28687/28687 [==============================] - 2s 57us/step - loss: 3922314.7769 - mean_absolute_error: 1731.0725 - mean_squared_error: 3922314.7769
Epoch 7/20
28687/28687 [==============================] - 2s 56us/step - loss: 3918757.6271 - mean_absolute_error: 1728.6462 - mean_squared_error: 3918757.6271
Epoch 8/20
28687/28687 [==============================] - 2s 55us/step - loss: 3902351.0008 - mean_absolute_error: 1725.4221 - mean_squared_error: 3902351.0008
Epoch 9/20
28687/28687 [==============================] - 2s 55us/step - loss: 3905353.6646 - mean_absolute_error: 1726.3976 - mean_squared_error: 3905353.6646
Epoch 10/20
28687/28687 [==============================] - 2s 55us/step - loss: 3895063.4236 - mean_absolute_error: 1723.6131 - mean_squared_error: 3895063.4236
Epoch 11/20
28687/28687 [==============================] - 2s 56us/step - loss: 3883318.2014 - mean_absolute_error: 1721.5524 - mean_squared_error: 3883318.2014
Epoch 12/20
28687/28687 [==============================] - 2s 56us/step - loss: 3896202.2794 - mean_absolute_error: 1723.9323 - mean_squared_error: 3896202.2794
Epoch 13/20
28687/28687 [==============================] - 2s 56us/step - loss: 3882592.4462 - mean_absolute_error: 1721.2398 - mean_squared_error: 3882592.4462
Epoch 14/20
28687/28687 [==============================] - 2s 56us/step - loss: 3882879.9609 - mean_absolute_error: 1720.4908 - mean_squared_error: 3882879.9609
Epoch 15/20
28687/28687 [==============================] - 2s 55us/step - loss: 3889938.1645 - mean_absolute_error: 1721.1618 - mean_squared_error: 3889938.1645
Epoch 16/20
28687/28687 [==============================] - 2s 54us/step - loss: 3873679.7473 - mean_absolute_error: 1718.7946 - mean_squared_error: 3873679.7473
Epoch 17/20
28687/28687 [==============================] - 2s 56us/step - loss: 3876845.8251 - mean_absolute_error: 1718.0347 - mean_squared_error: 3876845.8251
Epoch 18/20
28687/28687 [==============================] - 2s 57us/step - loss: 3866897.9379 - mean_absolute_error: 1716.5676 - mean_squared_error: 3866897.9379
Epoch 19/20
28687/28687 [==============================] - 2s 57us/step - loss: 3869402.4694 - mean_absolute_error: 1716.7907 - mean_squared_error: 3869402.4694
Epoch 20/20
28687/28687 [==============================] - 2s 56us/step - loss: 3873438.6941 - mean_absolute_error: 1717.6424 - mean_squared_error: 3873438.6941

In [102]:
model.evaluate(xte,yte)

5063/5063 [==============================] - 0s 69us/step

[3811995.771183093, 1706.578905811193, 3811995.771183093]

             date_time is_holiday  ...  weather_type      weather_description
0  2017-05-18 00:00:00       None  ...          Rain            moderate rain
1  2017-05-18 00:00:00       None  ...          Mist                     mist
2  2017-05-18 00:00:00       None  ...       Drizzle  light intensity drizzle
3  2017-05-18 01:00:00       None  ...          Rain     heavy intensity rain
4  2017-05-18 01:00:00       None  ...          Mist                     mist

[5 rows x 14 columns]

In [0]:
te=dfte.iloc[:,1:14]

In [0]:
te_x=pd.get_dummies(te)

In [111]:
tr_x.columns

Index(['air_pollution_index', 'humidity', 'wind_speed', 'wind_direction',
       'visibility_in_miles', 'dew_point', 'temperature', 'rain_p_h',
       'snow_p_h', 'clouds_all', 'is_holiday_Christmas Day',
       'is_holiday_Columbus Day', 'is_holiday_Independence Day',
       'is_holiday_Labor Day', 'is_holiday_Martin Luther King Jr Day',
       'is_holiday_Memorial Day', 'is_holiday_New Years Day',
       'is_holiday_None', 'is_holiday_State Fair',
       'is_holiday_Thanksgiving Day', 'is_holiday_Veterans Day',
       'is_holiday_Washingtons Birthday', 'weather_type_Clear',
       'weather_type_Clouds', 'weather_type_Drizzle', 'weather_type_Fog',
       'weather_type_Haze', 'weather_type_Mist', 'weather_type_Rain',
       'weather_type_Smoke', 'weather_type_Snow', 'weather_type_Squall',
       'weather_type_Thunderstorm', 'weather_description_SQUALLS',
       'weather_description_Sky is Clear', 'weather_description_broken clouds',
       'weather_description_drizzle', 'weather_description_few clouds',
       'weather_description_fog', 'weather_description_freezing rain',
       'weather_description_haze',
       'weather_description_heavy intensity drizzle',
       'weather_description_heavy intensity rain',
       'weather_description_heavy snow',
       'weather_description_light intensity drizzle',
       'weather_description_light intensity shower rain',
       'weather_description_light rain',
       'weather_description_light rain and snow',
       'weather_description_light shower snow',
       'weather_description_light snow', 'weather_description_mist',
       'weather_description_moderate rain',
       'weather_description_overcast clouds',
       'weather_description_proximity shower rain',
       'weather_description_proximity thunderstorm',
       'weather_description_proximity thunderstorm with drizzle',
       'weather_description_proximity thunderstorm with rain',
       'weather_description_scattered clouds',
       'weather_description_shower drizzle', 'weather_description_shower snow',
       'weather_description_sky is clear', 'weather_description_sleet',
       'weather_description_smoke', 'weather_description_snow',
       'weather_description_thunderstorm',
       'weather_description_thunderstorm with drizzle',
       'weather_description_thunderstorm with heavy rain',
       'weather_description_thunderstorm with light drizzle',
       'weather_description_thunderstorm with light rain',
       'weather_description_thunderstorm with rain',
       'weather_description_very heavy rain'],
      dtype='object')

In [112]:
te.columns

Index(['is_holiday', 'air_pollution_index', 'humidity', 'wind_speed',
       'wind_direction', 'visibility_in_miles', 'dew_point', 'temperature',
       'rain_p_h', 'snow_p_h', 'clouds_all', 'weather_type',
       'weather_description'],
      dtype='object')

In [0]:
missing_cols = set( tr_x.columns ) - set( te_x.columns )
for c in missing_cols:
       te_x[c] = 0

In [119]:
te_x.shape

(14454, 71)

In [123]:
te_x.columns==tr_x.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [0]:
 assert( set( tr_x.columns ) - set( te_x.columns ) == set())

In [0]:
te_x=te_x[tr_x.columns]

In [124]:
model

In [0]:
te_pr=model.predict(te_x)

In [126]:
te_pr

array([[3098.7368],
       [3027.8477],
       [3117.1301],
       ...,
       [3193.7976],
       [3576.0156],
       [3562.9802]], dtype=float32)

In [128]:
dfss.head()

             date_time  traffic_volume
0  1969-05-17 21:00:00             500
1  1969-05-17 21:00:00             530
2  1969-05-17 21:00:00             545
3  1969-05-17 22:00:00             750

In [0]:
sub=pd.DataFrame({'date_time':dfte.iloc[:,0].values,'traffic_volume':te_pr.ravel()})

In [131]:
dfte.iloc[:,0].values

array(['2017-05-18 00:00:00', '2017-05-18 00:00:00',
       '2017-05-18 00:00:00', ..., '2018-09-30 21:00:00',
       '2018-09-30 22:00:00', '2018-09-30 23:00:00'], dtype=object)

In [136]:
te_pr.ravel().shape

(14454,)

In [138]:
sub

                 date_time  traffic_volume
0      2017-05-18 00:00:00     3098.736816
1      2017-05-18 00:00:00     3027.847656
2      2017-05-18 00:00:00     3117.130127
3      2017-05-18 01:00:00     3229.778809
4      2017-05-18 01:00:00     2957.191895
5      2017-05-18 02:00:00     3190.632568
6      2017-05-18 02:00:00     2986.344238
7      2017-05-18 02:00:00     3152.408203
8      2017-05-18 03:00:00     3174.878418
9      2017-05-18 03:00:00     2979.825439
10     2017-05-18 03:00:00     3253.192627
11     2017-05-18 04:00:00     3223.871582
12     2017-05-18 04:00:00     3043.025635
13     2017-05-18 04:00:00     3274.485352
14     2017-05-18 05:00:00     3187.256348
15     2017-05-18 05:00:00     3028.446289
16     2017-05-18 05:00:00     3208.639648
17     2017-05-18 06:00:00     3182.922119
18     2017-05-18 06:00:00     3182.040771
19     2017-05-18 07:00:00     3223.111816
20     2017-05-18 07:00:00     3211.961670
21     2017-05-18 08:00:00     3205.162109
22     2017-05-18 08:00:00     3323.856201
23     2017-05-18 08:00:00     3141.927002
24     2017-05-18 09:00:00     3418.689209
25     2017-05-18 09:00:00     3148.402588
26     2017-05-18 09:00:00     3259.733398
27     2017-05-18 10:00:00     3321.187744
28     2017-05-18 10:00:00     3250.205566
29     2017-05-18 11:00:00     3416.969727
...                    ...             ...
14424  2018-09-29 20:00:00     3515.795410
14425  2018-09-29 21:00:00     3462.375977
14426  2018-09-29 22:00:00     3529.121826
14427  2018-09-29 23:00:00     3361.759033
14428  2018-09-30 00:00:00     3416.617920
14429  2018-09-30 01:00:00     3473.472168
14430  2018-09-30 02:00:00     3490.598633
14431  2018-09-30 03:00:00     3270.134766
14432  2018-09-30 04:00:00     3449.077637
14433  2018-09-30 05:00:00     3346.396729
14434  2018-09-30 06:00:00     3488.950684
14435  2018-09-30 07:00:00     3513.848877
14436  2018-09-30 08:00:00     3190.316895
14437  2018-09-30 09:00:00     3432.576172
14438  2018-09-30 10:00:00     3355.864258
14439  2018-09-30 11:00:00     3359.705078
14440  2018-09-30 12:00:00     3454.653076
14441  2018-09-30 13:00:00     3156.921387
14442  2018-09-30 14:00:00     3362.569336
14443  2018-09-30 14:00:00     3375.026611
14444  2018-09-30 15:00:00     3400.136719
14445  2018-09-30 15:00:00     3239.174805
14446  2018-09-30 16:00:00     3440.122803
14447  2018-09-30 17:00:00     3388.975830
14448  2018-09-30 18:00:00     3335.336182
14449  2018-09-30 19:00:00     3343.170654
14450  2018-09-30 20:00:00     3583.327637
14451  2018-09-30 21:00:00     3193.797607
14452  2018-09-30 22:00:00     3576.015625
14453  2018-09-30 23:00:00     3562.980225

[14454 rows x 2 columns]

In [141]:
dfss

             date_time  traffic_volume
0  1969-05-17 21:00:00             500
1  1969-05-17 21:00:00             530
2  1969-05-17 21:00:00             545
3  1969-05-17 22:00:00             750

In [142]:
dfte.shape

(14454, 14)

In [0]:
sub.to_csv('sub1.csv',index=False)

In [144]:
pd.read_csv('sub1.csv')

                 date_time  traffic_volume
0      2017-05-18 00:00:00       3098.7368
1      2017-05-18 00:00:00       3027.8477
2      2017-05-18 00:00:00       3117.1301
3      2017-05-18 01:00:00       3229.7788
4      2017-05-18 01:00:00       2957.1920
5      2017-05-18 02:00:00       3190.6326
6      2017-05-18 02:00:00       2986.3442
7      2017-05-18 02:00:00       3152.4082
8      2017-05-18 03:00:00       3174.8784
9      2017-05-18 03:00:00       2979.8254
10     2017-05-18 03:00:00       3253.1926
11     2017-05-18 04:00:00       3223.8716
12     2017-05-18 04:00:00       3043.0256
13     2017-05-18 04:00:00       3274.4854
14     2017-05-18 05:00:00       3187.2563
15     2017-05-18 05:00:00       3028.4463
16     2017-05-18 05:00:00       3208.6396
17     2017-05-18 06:00:00       3182.9220
18     2017-05-18 06:00:00       3182.0408
19     2017-05-18 07:00:00       3223.1118
20     2017-05-18 07:00:00       3211.9617
21     2017-05-18 08:00:00       3205.1620
22     2017-05-18 08:00:00       3323.8562
23     2017-05-18 08:00:00       3141.9270
24     2017-05-18 09:00:00       3418.6892
25     2017-05-18 09:00:00       3148.4026
26     2017-05-18 09:00:00       3259.7334
27     2017-05-18 10:00:00       3321.1877
28     2017-05-18 10:00:00       3250.2056
29     2017-05-18 11:00:00       3416.9697
...                    ...             ...
14424  2018-09-29 20:00:00       3515.7954
14425  2018-09-29 21:00:00       3462.3760
14426  2018-09-29 22:00:00       3529.1218
14427  2018-09-29 23:00:00       3361.7590
14428  2018-09-30 00:00:00       3416.6180
14429  2018-09-30 01:00:00       3473.4722
14430  2018-09-30 02:00:00       3490.5986
14431  2018-09-30 03:00:00       3270.1348
14432  2018-09-30 04:00:00       3449.0776
14433  2018-09-30 05:00:00       3346.3967
14434  2018-09-30 06:00:00       3488.9507
14435  2018-09-30 07:00:00       3513.8489
14436  2018-09-30 08:00:00       3190.3170
14437  2018-09-30 09:00:00       3432.5762
14438  2018-09-30 10:00:00       3355.8643
14439  2018-09-30 11:00:00       3359.7050
14440  2018-09-30 12:00:00       3454.6530
14441  2018-09-30 13:00:00       3156.9214
14442  2018-09-30 14:00:00       3362.5693
14443  2018-09-30 14:00:00       3375.0266
14444  2018-09-30 15:00:00       3400.1367
14445  2018-09-30 15:00:00       3239.1748
14446  2018-09-30 16:00:00       3440.1228
14447  2018-09-30 17:00:00       3388.9758
14448  2018-09-30 18:00:00       3335.3362
14449  2018-09-30 19:00:00       3343.1707
14450  2018-09-30 20:00:00       3583.3276
14451  2018-09-30 21:00:00       3193.7976
14452  2018-09-30 22:00:00       3576.0156
14453  2018-09-30 23:00:00       3562.9802

[14454 rows x 2 columns]